@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  font-size: 62, 5%;
  box-sizing: border-box;
}
html body {
  background-image: url(../img/foto1.jpg);
  background-color: #042159;
  background-repeat: repeat;
  background-position: center;
  background-size: center;
}

header {
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Montserrat", sans-serif;
  padding-top: 4rem;
}
header h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 3.2rem;
  font-family: "Montserrat", sans-serif;
}

.space {
  height: 25rem;
}
.space .f_size {
  font-size: 3.2rem;
}

.f1 {
  color: white;
  font-size: 8rem;
  font-family: "Montserrat", sans-serif;
  padding-top: 12rem;
  padding-bottom: 15rem;
}

@media (max-width: 540px) {
  .f1 {
    color: white;
    font-size: 5rem;
    font-family: "Montserrat", sans-serif;
    padding-top: 12rem;
    padding-bottom: 8rem;
  }
}
ul {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}
ul a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

h2 {
  color: white;
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
}

h3 {
  color: white;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
}

h5 {
  color: white;
  font-family: "Montserrat", sans-serif;
}

p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  overflow: auto;
  font-size: 0.8rem;
}

.p_box {
  height: 200px;
  width: auto;
}

label {
  color: white;
}

.recu {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3rem;
}

.rad {
  border-radius: 3rem;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ---------------- Nav --------------------- */
.nav_c {
  background-color: #042159;
}
.nav_c .w_c {
  background-color: white;
}

.tabla_info {
  margin: 4rem auto 4rem auto;
  padding: 1rem;
}
.tabla_info th {
  color: white;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.recu1 {
  border-radius: 3rem;
  background-color: #f20f39;
  background-color: #f20f39;
}

.recu2 {
  border-radius: 3rem;
  background-color: #04BFAD;
  background-color: #04BFAD;
}

.recu3 {
  border-radius: 3rem;
  background-color: #148DD9;
  background-color: #148DD9;
}

.recu4 {
  border-radius: 3rem;
  background-color: white;
  background-color: white;
}

.recu5 {
  border-radius: 3rem;
  background-color: #042159;
  background-color: #042159;
}

.recu6 {
  border-radius: 3rem;
  background-color: #F2E30F;
  background-color: #F2E30F;
}

.recu7 {
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.4);
}

.recu8 {
  border-radius: 3rem;
  background-color: rgba(4, 191, 173, 0.6);
  background-color: rgba(4, 191, 173, 0.6);
}

.nbot2 {
  background-color: #04BFAD;
}

/* --------------------Animaciones-------------------------- */
.menu_ani {
  transition: all 0.5s;
}
.menu_ani:hover {
  color: #f20f39;
}

.c_ani {
  transition: all 0.5s;
  width: 80px;
  height: 80px;
  border-radius: 30%;
  background-color: rgba(4, 191, 173, 0.6);
}
.c_ani:hover {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #148DD9;
  padding: 3%;
}

@media (max-width: 1675px) {
  .box {
    font-size: 0.6rem;
  }
}
@media (max-width: 768px) {
  .pad_1 {
    padding-bottom: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .pad_2 {
    padding-top: 2rem;
  }
}
.recu_ani {
  border: 0.5rem solid #148DD9;
  animation-name: efecto2;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-delay: 4s;
  animation-duration: alternate;
}

@keyframes efecto2 {
  0% {
    border: 0.5rem solid #148DD9;
  }
  25% {
    border: 0.5rem solid #f20f39;
  }
  50% {
    border: 0.5rem solid #F2E30F;
  }
  75% {
    border: 0.5rem solid #04BFAD;
  }
  100% {
    border: 0.5rem solid #148DD9;
  }
}
@media (min-width: 768px) {
  .v_line {
    border-left: 0.5rem solid #148DD9;
    height: 20rem;
    animation-name: efecto1;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-duration: alternate;
  }
}
@keyframes efecto1 {
  0% {
    border-left: 0.5rem solid #148DD9;
  }
  25% {
    border-left: 0.5rem solid #f20f39;
  }
  50% {
    border-left: 0.5rem solid #F2E30F;
  }
  75% {
    border-left: 0.5rem solid #04BFAD;
  }
  100% {
    border-left: 0.5rem solid #148DD9;
  }
}
.marg {
  background-color: rgba(0, 0, 0, 0.4);
  height: 6rem;
}

.c_ani_color {
  width: 55px;
  height: 55px;
  border-radius: 30%;
  background-color: #148DD9;
  padding: 3%;
  animation-name: efecto2;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-delay: 4s;
  animation-duration: alternate;
}

@keyframes efecto2 {
  0% {
    background-color: #148DD9;
  }
  25% {
    background-color: #f20f39;
  }
  50% {
    background-color: #F2E30F;
  }
  75% {
    background-color: #04BFAD;
  }
  100% {
    background-color: #148DD9;
  }
}
video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -100;
  background-size: cover;
}

/*# sourceMappingURL=styles.css.map */
