
$fontSizeH1: 3.2rem;
$fontF1: 'Montserrat', sans-serif;
$fontSizeUl: 1.2rem;
$fontSizeH2: 2.2rem;
$fontSizeH3: 1.4rem;
$fontSizeP: 0.8rem;
$fontSizeP6: 0.6rem;
$fontSizeTH: 1rem;
$borderR: 3rem;
$padding8: 8rem;
$padding2: 2rem;
$padding12: 12rem;
$padding15: 15rem;

$crear: "si";
$mapaColores: (1: #f20f39, 2: #04BFAD, 3: #148DD9, 4: white, 5: #042159, 6: #F2E30F, 
7: rgb(0, 0, 0, 0.4), 8: rgb(4, 191, 173, 0.6) );