
$fontSizeH1: 3.8rem;
$fontF1: 'Mochiy Pop P One', sans-serif;
$fontSizeUl: 2rem;
$borderR: 45%;
$borderB: 10px solid black;
$fontSizeH2: 2.8rem;
$fontSizeH3: 1.8rem;
$fontSizeP: 0.8rem;
$fontSizeTH: 1.2rem;
// ------------------sass II--------------------------
$crear: "si";
$mapaColores: (1: #F20F38, 2: #04BFAD, 3: #148DD9, 4: white, 5: #042159, 6: #F2E30F, 7: rgb(0, 0, 0, 0.3) );