$colourRed: #F20F38;
$colourblue: #042159;
$colourLightblue: #148DD9;
$colourWhite: white;
$fontSizeH1: 3.8rem;
$fontF1: 'Mochiy Pop P One', sans-serif;
$fontSizeUl: 2rem;
$borderR: 45%;
$borderB: 10px solid black;
$fontSizeH2: 2.8rem;
$fontSizeH3: 1.8rem;