@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


// ------------global---------

html{
    font-size: 62,5%;
    box-sizing: border-box;
    body{
        background-image: url(../img/foto1.jpg);
        background-color: map-get($mapaColores, 5);
        background-repeat: repeat;
        background-position: center;
        background-size: center;
    }
}

header{
    background-color: map-get($mapaColores, 7);
    font-family: $fontF1;
    padding-top: 4rem;
    h1{
        font-family: $fontF1;
        color: map-get($mapaColores, 4);        
        font-size: $fontSizeH1;
        font-family: $fontF1;
  
    }
}

// ----------Titulo principal------------

.space{
    height: 25rem;
    .f_size{
        font-size: $fontSizeH1;
    }
}  
.f1{
    color: map-get($mapaColores, 4);
    font-size: 8rem; 
    font-family: $fontF1;
    padding-top: $padding12;  
    padding-bottom: $padding15;
}
@media (max-width: 540px){
    .f1{
        color: map-get($mapaColores, 4);
        font-size: 5rem; 
        font-family: $fontF1;
        padding-top: $padding12;  
        padding-bottom: $padding8;
    }
}

// ----------------------------------------

ul{

    font-size: $fontSizeUl;
    font-family: $fontF1;
    list-style:none;
    a{
        color: map-get($mapaColores, 4);
        text-decoration:none;
        font-size: $fontSizeUl;
    }
    
}

h2{
    color: map-get($mapaColores, 4);
    font-size: $fontSizeH2;
    font-family: $fontF1;
}

h3{
    color: map-get($mapaColores, 4);
    font-size: $fontSizeH3;
    font-family: $fontF1;
}

h5{
    color: map-get($mapaColores, 4);
    font-family: $fontF1;
}

p{
    color: map-get($mapaColores, 4);
    font-family: $fontF1;
    font-weight: 700;
    overflow: auto;
    font-size: $fontSizeP;
}

.p_box{
    height: 200px;
    width: auto;
}

label{
    color: map-get($mapaColores, 4);
}

.recu{
    background-color: map-get($mapaColores, 7 );
    border-radius: $borderR;
}

.rad{
   border-radius: $borderR;     
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* ---------------- Nav --------------------- */

.nav_c{
    background-color: map-get($mapaColores, 5);
    .w_c{
        background-color: map-get($mapaColores, 4);
    }
}

// ----------------------Tabla-------------------------

.tabla_info{
    margin: 4rem auto 4rem auto;
    padding: 1rem;
    th{
        color: map-get($mapaColores, 4);
        font-size: $fontSizeTH;
        font-family: $fontF1;
        
    }
}

// ----------------------color selection-----------------------------------


@mixin bordeColor($r, $recu) {
    border-radius: $r;
    background-color: $recu;
}


@if $crear == "si"{
    @each $numero, $recu in $mapaColores{
        .recu#{$numero}{
            @include bordeColor( 3rem, $recu);
            background-color: map-get($mapaColores, $numero);
        }
    }
}
@else{
    div{
        @extend .recu;
    }
}

.nbot2{
    background-color: map-get($mapaColores, 2);
    
}

/* --------------------Animaciones-------------------------- */

.menu_ani{
    transition: all 0.5s;
    &:hover{
        color: map-get($mapaColores, 1);
    }   
}

.c_ani{
    transition: all 0.5s;
    width: 80px;
    height: 80px;
    border-radius: 30%;
    background-color:  map-get($mapaColores, 8);
    &:hover{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color:  map-get($mapaColores, 3);
        padding: 3%;
        
    }  
}


// --------------------History Animaciones----------------------

@media (max-width: 1675px){
    .box{
        font-size: $fontSizeP6;
   }
}

@media (max-width: 768px){
    .pad_1{
        padding-bottom: $padding8;
        padding-left: $padding2;
        padding-right: $padding2;
    }
    .pad_2{
        padding-top: $padding2;
    }
}   



.recu_ani{
    border: 0.5rem solid map-get($mapaColores, 3);
    
    animation-name: efecto2;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-duration: alternate;
}


@keyframes efecto2{
    0%{
        border: 0.5rem solid map-get($mapaColores, 3);
        
    }
    25%{
        border: 0.5rem solid map-get($mapaColores, 1);
        
    }
    50%{
        border: 0.5rem solid map-get($mapaColores, 6);
        
    }
    75%{
        border: 0.5rem solid map-get($mapaColores, 2);
        ;
    }
    100%{
        border: 0.5rem solid map-get($mapaColores, 3);
        
    }
}

@media (min-width: 768px){
    .v_line{
        border-left: 0.5rem solid map-get($mapaColores, 3);
        height: 20rem;
        
        animation-name: efecto1;
        animation-iteration-count: infinite;
        animation-duration: 4s;
        animation-delay: 4s;
        animation-duration: alternate;
    }
} 


@keyframes efecto1{
    0%{
        border-left: 0.5rem solid map-get($mapaColores, 3);
        
    }
    25%{
        border-left: 0.5rem solid map-get($mapaColores, 1);
        
    }
    50%{
        border-left: 0.5rem solid map-get($mapaColores, 6);
        
    }
    75%{
        border-left: 0.5rem solid map-get($mapaColores, 2);
        
    }
    100%{
        border-left: 0.5rem solid map-get($mapaColores, 3);
        
    }
}

// ----------footer Animaciones-------------

.marg{
    background-color: map-get($mapaColores, 7);
    height: 6rem;

}

.c_ani_color{
    width: 55px;
    height: 55px;
    border-radius: 30%;
    background-color:  map-get($mapaColores, 3);
    padding: 3%;

    animation-name: efecto2;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-duration: alternate;
}

@keyframes efecto2{
    0%{
        
        background-color:  map-get($mapaColores, 3);
    }
    25%{
        
        background-color:  map-get($mapaColores, 1);
    }
    50%{
        
        background-color:  map-get($mapaColores, 6);
    }
    75%{
        
        background-color:  map-get($mapaColores, 2);
    }
    100%{
        
        background-color:  map-get($mapaColores, 3);
    }
}


// ---------------video titulo-------------
 
video {  
    
    min-width:100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;   
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);  
    z-index: -100;
    background-size: cover;
}
