@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=The+Nautigal:wght@700&display=swap');


html{
    font-size: 62,5%;
    box-sizing: border-box;
    body{
        background-image: url(../img/foto1.jpg);
        background-color: $colourblue;
        background-repeat: no-repeat;
        background-position: center;
        background-size: center;
    }
}


header{
    background-color: $colourLightblue;
    font-family: $fontF1;
    
    h1{
        font-family: $fontF1;
        color: $colourWhite;        
        font-size: $fontSizeH1;
        font-family: $fontF1;
    }
}

ul{

    font-size: $fontSizeUl;
    font-family: $fontF1;
    border-bottom: $borderB;
    list-style:none;
    a{
        color: $colourWhite;
        text-decoration:none;
        font-size: $fontSizeUl;
    }
    
}

h2{
    color: $colourWhite;
    font-size: $fontSizeH2;
    font-family: $fontF1;
}

h3{
    color: $colourWhite;
    font-size: $fontSizeH3;
    font-family: $fontF1;
}

.recu{
    border: $borderB;
}

p{
    color: $colourWhite;
    font-family: $fontF1;
    font-weight: 700;
    overflow: auto;
}

label{
    color: $colourWhite;
}

/* ---------------- Nav --------------------- */

@media (max-width: 1200px) {
    .flex_res{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

// ----------------------Tabla-------------------------

.tabla_info{
    background-color: $colourblue;
    margin: 4rem auto 2rem auto;
    padding: 1rem;
    th{
        color: $colourWhite;
        width: 20rem;
        height: 5rem;
        font-size: $fontSizeTH;
        font-family: $fontF1;
    }
}

/* ---------------------Noticias------------------------- */

.card{
    background-color: $colourblue;
    border: $borderB;
}

/* --------------------Animaciones-------------------------- */

.footer_ani{
    background-color: map-get($mapaColores, 3);
    animation-name: un_efecto;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-duration: alternate;
}

@keyframes un_efecto{
    0%{
        background-color: map-get($mapaColores, 3);
    }
    25%{
        background-color: map-get($mapaColores, 1);
    }
    50%{
        background-color: map-get($mapaColores, 6);
    }
    75%{
        background-color: map-get($mapaColores, 2);
    }
    100%{
        background-color: map-get($mapaColores, 3);
    }
}

.menu_ani{
    transition: all 1s;
    &:hover{
        border-radius: $borderR;
        background-color: $colourRed;
    }   
}

// ----------------------sass II-----------------------------------

@mixin bordeColor($ancho, $tipo, $recu) {
    border-width: $ancho;
    border-style: $tipo;
    border-color: $recu;
}


@if $crear == "si"{
    @each $numero, $recu in $mapaColores{
        .recu#{$numero}{
            @include bordeColor(10px, solid, $recu);
        }
    }
}
@else{
    div{
        @extend .recu;
    }
}

.nbot1{
    background-color: map-get($mapaColores, 1);
    
}

.nbot2{
    background-color: map-get($mapaColores, 2);
    
}


@media (max-width: 1300px){
    p{
        font-size: $fontSizeP;
    }
}

